# ============ TMDB ============
# Clé API TMDB (v3) : https://www.themoviedb.org/settings/api
TMDB_API_KEY=changeme
TMDB_LANGUAGE=fr-FR
TMDB_REGION=FR

# ============ Radarr ============
# URL de ton instance Radarr (depuis le conteneur).
# Si Radarr tourne aussi en docker sur le même hôte, utilise son nom de service
# ou http://host.docker.internal:7878
RADARR_URL=http://host.docker.internal:7878
RADARR_API_KEY=changeme

# ============ Valeurs par défaut à l'ajout Radarr (optionnel) ============
# Laisse vide pour laisser l'utilisateur choisir / utiliser le 1er profil & dossier.
RADARR_QUALITY_PROFILE_ID=
RADARR_ROOT_FOLDER=
RADARR_MINIMUM_AVAILABILITY=released
RADARR_MONITOR=true
RADARR_SEARCH_ON_ADD=true

# ============ Sonarr (séries) ============
# URL de ton instance Sonarr (depuis le conteneur).
# Si Sonarr tourne aussi en docker sur le même hôte, utilise son nom de service
# ou http://host.docker.internal:8989
SONARR_URL=http://host.docker.internal:8989
SONARR_API_KEY=changeme

# ============ Valeurs par défaut à l'ajout Sonarr (optionnel) ============
SONARR_QUALITY_PROFILE_ID=
SONARR_ROOT_FOLDER=
SONARR_MONITOR=true
SONARR_SEARCH_ON_ADD=true
# standard | anime | daily
SONARR_SERIES_TYPE=standard
# Créer un sous-dossier par saison
SONARR_SEASON_FOLDER=true
